/* work sans font frome google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap')

// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900

.work-sans-<uniquifier> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}